@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    color-scheme: light;
    --background: white;
    --foreground: black;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --muted: 0 0% 96.1%;
    --accent: 0 0% 96.1%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 89.8%;
  }

  .dark {
    color-scheme: dark;
    --background: #1a202c;
    --foreground: white;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --muted: 0 0% 14.9%;
    --accent: 0 0% 14.9%;
    --destructive: 0 62.8% 30.6%;
    --border: 0 0% 14.9%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

.discover-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 20px;
  box-sizing: border-box;
}

.discover-container > * {
  flex: 0 0 auto;
  margin-right: 20px;
}

.discover-container::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.movie-card {
  width: 200px;
  max-width: 100%;
  background: var(--card);
  color: var(--card-foreground);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  overflow: hidden;
}
